.DisplayItems__container {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 5rem;
}

.DiplayItems__item-container {
  border: 1px solid blue;
  border-radius: 35px;
  display: flex;
  flex-direction: column;
  width: 22rem;
  height: 35rem;
}
