.PageNotFound {
  background: url(../../Assets/blackbg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.PageNotFound__container {
  align-items: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  height: 40rem;
  justify-content: center;
  transition: 0.7s all ease;
  width: 100%;
  z-index: 1;
}

.PageNotFound__img-container img {
  width: 32rem;
  height: 100%;
  border-radius: 50%;
  cursor: pointer;
}

.PageNotFound__home-btn {
  align-self: center;
  background-color: #0033a0;
  border: none;
  border-radius: 15px;
  box-shadow: 1px 8px 15px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  color: white;
  font-size: 1.5rem;
  font-weight: 700;
  height: 50px;
  letter-spacing: 2.5px;
  outline: none;
  text-transform: uppercase;
  transition: all 0.3s ease 0s;
  width: 110px;
}

.PageNotFound__home-btn:hover {
  background-color: #59b7e1;
  box-shadow: 1px 15px 20px rgba(255, 255, 255, 0.4);
  color: black;
  transform: translateY(-7px);
}

@media screen and (max-width: 809px) {
  .PageNotFound__container {
    width: 100%;
  }
  .PageNotFound__img-container img {
    width: 10rem;
  }
}
