.CartItems {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: max-content;
}

.CartItems__container {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  gap: 5rem;
  justify-content: center;
  width: 100%;
  height: max-content;
}

.CartItems__right {
  flex: 1;
}

.CartItems__left {
  border-right: 2px solid rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 100vh;
  gap: 1rem;
  flex: 3;
  padding-left: 4rem;
}

.CartItem__item-card {
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
  width: 90%;
}

.CartItems__img {
  width: 8rem;
}

.CartItems__img img {
  width: 100%;
  height: 100%;
}

.CartItems__title {
  width: 20rem;
  overflow: hidden;
  margin: 3rem 0rem;
}

.CartItems__remove-item {
  border: 1px solid black;
  background-color: #0033a0;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
}

.CartItems__remove-btn {
  background-color: rgba(0, 0, 0, 0);
  text-align: center;
  border: none;
  color: white;
}
