.CartItems {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: max-content;
}

.CartItems__container {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  gap: 5rem;
  justify-content: center;
  width: 100%;
  height: 100vh;
}

.CartItems__right {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  justify-content: center;
  padding-right: 4rem;
}

.CartItems__left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 80vh;
  gap: 1rem;
  flex: 4;
  padding-left: 4rem;
  overflow-y: scroll;
  overflow-x: hidden;
}

.CartItems__left::-webkit-scrollbar-track {
  background-color: #59b6e1e1;
  border: 5px solid white;
}

.CartItems__left::-webkit-scrollbar {
  background-color: #dfe6e9;
  width: 15px;
}

.CartItems__left::-webkit-scrollbar-thumb {
  background-color: #0033a0;
  border-radius: 10px;
}

.CartItem__item-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
  width: 95%;
}

.CartItems__img {
  width: 8rem;
}

.CartItems__img img {
  width: 100%;
  height: 100%;
}

.CartItems__title {
  width: 20rem;
  overflow: hidden;
  margin: 3rem 0rem;
}

.CartItems__info {
  font-size: 1.2rem;
  margin: 0.25rem;
  font-weight: 500;
}
.CartItems__info span {
  font-size: 1.4rem;
  color: #0033a0;
  font-weight: 600;
}
.remove-btn {
  justify-self: flex-start;
}

.CartItems__details {
  padding: 1rem;
}

.CartItems__buttons {
  display: flex;
  flex-direction: row;
  gap: 0.25rem;
}

.CartItems-btn {
  align-self: center;
  background-color: #0033a0;
  border: none;
  border-radius: 15px;
  box-shadow: 1px 8px 15px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  color: white;
  font-size: 1rem;
  font-weight: 600;
  height: 50px;
  outline: none;
  text-transform: uppercase;
  transition: all 0.3s ease 0s;
  width: 190px;
}

.CartItems-btn:hover {
  background-color: #59b7e1;
  box-shadow: 1px 15px 20px rgba(255, 255, 255, 0.4);
  color: black;
  transform: translateY(-7px);
}

.CartItems__total span {
  font-size: 2rem;
  color: #59b7e1;
}

.CartItems__total {
  font-size: 2rem;
  color: black;
}
