.EmptyCart {
  background: url(../../Assets/blackbg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.EmptyCart__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.EmptyCart__title {
  font-size: 3rem;
}

@media screen and (max-width: 809px) {
  .EmptyCart {
    height: 100vh;
  }
  .EmptyCart__container {
    text-align: center;
    width: 100vw;
    height: min-content;
  }
  .EmptyCart__title {
    text-align: center;
    font-size: 2rem;
    width: 70%;
  }
}
