.Carrousel {
  align-items: center;
  justify-content: center;
  display: flex;
  width: 90%;
  margin: 0rem auto;
  height: 22rem;
  border-radius: 35px;
}

.Carrousel__container {
  display: flex;
  flex-direction: row;
  overflow: scroll;
  cursor: grab;
  gap: 2rem;
  height: 90%;
  padding: 1rem;
}

.Carrousel__container::-webkit-scrollbar {
  display: none;
}

.Carrousel__container-item {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 1px 5px 8px rgba(0, 0, 0, 0.4);
  border-radius: 45px;
  height: 100%;
  min-width: 40%;
}

.Carrousel__item-img {
  width: 9rem;
}

.Carrousel__item-title {
  font-size: 1rem;
  max-height: 1.5rem;
  overflow: hidden;
}
.Carrousel__item-up {
  align-self: flex-start;
  margin-left: 2rem;
  display: flex;
  overflow: hidden;
}
.Carrousel__item-down {
  display: flex;
  flex-direction: row;
  gap: 3rem;
}

.Carrousel__promotion {
  font-size: 1.7rem;
  color: #0033a0;
}
.Carrousel__prices {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.price__actual {
  font-size: 1.3rem;
  font-weight: 600;
  color: #59b7e1;
}

.price__old {
  font-size: 1.3rem;
  font-weight: 600;
  color: crimson;
  text-decoration: line-through;
}

.discount {
  color: #00c21d;
  font-size: 2rem;
  text-align: center;
}

.item__price-title {
  font-size: 1.5rem;
}
