.Footer {
  display: flex;
  background-color: #59b6e1e1;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.2);
  min-height: 7rem;
  justify-content: center;
  margin-top: 5rem;
}

.Footer__container {
  display: flex;
  gap: 10rem;
  align-items: center;
  justify-content: center;
}

.Footer__left {
  display: flex;
  gap: 2rem;
  align-items: center;
  justify-content: center;
}

.Footer__right {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5rem;
}

.Social {
  display: flex;
  gap: 2rem;
  cursor: pointer;
}

.Footer__right p {
  color: #0033a0;
  font-size: 1.4rem;
  font-weight: 600;
  cursor: pointer;
}
.Footer svg {
  color: black;
}

.Footer svg:hover {
  transform: translateY(-7px);
  color: #0033a0;
  transition: 0.3s all;
}

.Links__page {
  color: #0033a0;
  font-size: 1.5rem;
  text-decoration: none;
}

.Links__page:hover {
  transition: 0.3s all;
  border-bottom: 1px solid #0033a0;
}

.Links__page:visited,
.Links__page:active {
  text-decoration: underline;
}
