@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins";
}

body {
  height: 100%;
}

body::-webkit-scrollbar-track {
  background-color: #59b6e1e1;
  border: 5px solid white;
}

body::-webkit-scrollbar {
  background-color: #dfe6e9;
  width: 15px;
}

body::-webkit-scrollbar-thumb {
  background-color: #0033a0;
  border-radius: 10px;
}
