.Homepage__main {
  width: 90%;
  margin: 0 auto;
  min-height: 100vh;
}

.Carrousel__promotions-title {
  text-align: center;
  margin-top: 6rem;
  font-size: 2.5rem;
  color: #0033a0;
}

.DisplayItems__title {
  margin-top: 2rem;
  font-size: 2.5rem;
  text-align: center;
  color: #0033a0;
}

@media screen and (max-width: 809px) {
  .DisplayItems__title {
    font-size: 2rem;
  }
  .Carrousel__promotions-title {
    font-size: 1.5rem;
    margin-top: 0;
  }
}
